<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/create-book.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>
<nav class="nav">
    <section class="logo">
        <a th:href="@{/}">Bookworld</a>
    </section>

    <ul class="list">
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/auth/login}">Login</a>
        </li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/auth/register}">Register</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form
                    th:method="post"
                    th:action="@{/auth/logout}">
                <input id="logout-btn" type="submit" value="Logout">
            </form>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}">Profile</a>
        </li>
        <li>
            <a th:href="@{/books/getAll}">Books</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/books/create}">Add Book</a>
        </li>
    </ul>
</nav>

<section class="form-book">
    <form th:method="Post" th:action="@{/books/create}" th:object="${createBookModel}" >
        <p class="header">Create Book</p>

        <label for="title">Title</label>
        <small th:if="${#fields.hasErrors('name')}" class="text-danger">Name must have at least 3 symbols</small>
        <input  type="text" id="title" name="name" required>

        <label for="author">Author</label>
        <small th:if="${#fields.hasErrors('author')}" class="text-danger">Author must have at least 5 symbols</small>
        <input type="text" id="author" name="author" required>

        <label for="price">Price</label>
        <small th:if="${#fields.hasErrors('price')}" class="text-danger">Price can not be lower than 5$</small>
        <input type="number" id="price"  name="price" required min="0.00" max="10000.00" step="0.01" />

        <label for="genres">Genre</label>
        <select id="genres" name="genre">

            <option th:each="genre: ${T(com.example.bookworld.Models.Enums.GenreType).values()}"
                    th:text="${genre}" th:value="${genre.name()}"></option>
        </select>

        <label for="conditions">Condition</label>
        <select id="conditions" name="condition">

            <option th:each="condition: ${T(com.example.bookworld.Models.Enums.ConditionType).values()}"
                    th:text="${condition}" th:value="${condition.name()}"></option>
        </select>

        <button type="submit" class="btn">Add Book</button>

    </form>
</section>


<footer>
    <span>SoftUni Project 2023</span>
    <span>For contacts: iskrata123@gmail.com</span>
</footer>

</body>
</html>